.LoanTwo{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.LoanTwo .L{
    width: 40%;
    padding: 1%;
    background-color: white;
}